/* this css file will only style the homepage of our site */

/* From W3Schools: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto */
* {box-sizing: border-box;}
		body {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
		
		h1 {
			background: -webkit-linear-gradient(right, #d6f6eb, #599696, #32a86f, #0c4574);
			background-clip: border-box;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		}

		.mySlides {display: none;}

		img {
			display: block;
			height: 300px;
			max-height: 100%;
			width: auto;
			object-fit: contain;
			margin: auto;
		}
		
		/* Slideshow container */
		.slideshow-container {
		  max-width: 1000px;
		  position: relative;
		  margin: auto;
		}
		
		/* Caption text */
		figcaption {
		  color: #000000;
		  font-size: 20px;
		  width: 100%;
		  text-align: center;
		}
		
		/* Number text (1/3 etc) */
		.numbertext {
		  color: #f2f2f2;
		  font-size: 12px;
		  padding: 8px 12px;
		  position: absolute;
		  top: 0;
		}
		
		/* The dots/bullets/indicators */
		.dot {
		  height: 10px;
		  width: 10px;
		  margin: 0 2px;
		  background-color: #adadad;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}
		
		.active {
		  background-color: #000000;
		}
		
		/* Fading animation */
		.fade {
		  animation-name: fade;
		  animation-duration: 1.5s;
		}
		
		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}
		
		/* On smaller screens, decrease text size */
		@media only screen and (max-width: 300px) {
		  .text {font-size: 11px}
		}

 /* W3School code ends Here */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

.rounded_and_row {
	content: "";
	clear: both;
	display: table;
}

.column {
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	border: solid 2px #ffffff;
	float: left;
	margin-left: 10px;
}

