/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: rgb(156, 186, 255);
}

h1 {
  text-align: center;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  display: block;
  border-radius: 3px;
  width: 70%;
  text-align: center;
  margin-top: 15px;
}

/* Control link colors when clicked + when sitee reloaded*/
a {
  color: rgb(89, 189, 255);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: rgb(228, 174, 255);
}

a.clicked {
  color: rgb(152, 73, 255);
}

/* Arrows to navigate Lab sites */
.arrows {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.arrows img {
  max-width: 5%;
  height: auto;
}

#left {
  float: left
}

 #right {
  float: right;
 }
 

