/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: rgb(165, 187, 238);
}

h1 {
  text-align: center;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 5px;
  border: solid 1px #000000;
  border-radius: 25px;
  width: 70%;
  margin: auto;
  background-color: rgb(177, 255, 251);
  text-align: center;
}

/* Control link colors when clicked + when sitee reloaded*/
a {
  color: rgb(0, 118, 196);
  transition: color 0.2s ease-in-out;
}

a.clicked {
  color: rgb(81, 0, 187);
}

a:hover {
  color: rgb(171, 43, 236);
}

/* Arrows to navigate Lab sites */
.arrows {
  text-align: center;
  margin: auto;
}

.arrows img {
  max-width: 8%;
  height: auto;
}

#left {
  float: left
}

 #right {
  float: right;
 }