/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
    background-image: radial-gradient(blue, red);
}

.minor-section {
    border: solid 1px #888;
    background-color: #DDD8C4;
    text-align: center;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container img {
    position: absolute;
    background-size: contain;
    top:0;
    left: 70%;
    
    max-height: 100px;
    margin: 20px;
    border: 2px solid #000000;
    border-radius: 45%;
    display: flex;
  }

  h1 {
    color: azure;
    text-align: center;
    margin-right: auto;
  }
