/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

body {
  background-image: linear-gradient(rgb(77, 127, 255), purple);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.minor-section {
    border: solid 1px #888;
    background-color: #DDD8C4;
    text-align: center;
  }

  .container img {
    position: absolute;
    top:0;
    left: 65%;
    max-width: 15%;

    margin: 15px;
    padding: 5px;
    display: flex;
  }

  h1 {
    color: white;
    text-align: center;
    margin: auto;
  }