/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
  aspect-ratio: 6/1;
  object-fit: contain;
  background-color: aliceblue;
  margin: 10px;
  display: block;
  text-align: center;
}

#output img, #output h3 {
  margin-top: 0px;
}

h3 {
  margin: 0px;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  margin: auto;
  max-width: 25%;
}

#myButton {
  text-align: center;
}

button {
  height: 25px;
  max-height: 25px;
}

#special {
  display: block;
  margin: auto;
  text-align: center;
}

