/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
  background-image: url("../../img/pattern_background.jpg");
}

.minor-section {
  aspect-ratio: 6/1;
  object-fit: contain;
  text-align: center;
}

.minor-section#one {
    background-color: rgba(93, 255, 255, 0.853);
}

.minor-section#two {
    background-color: rgba(137, 119, 255, 0.857);
}

.minor-section#three {
    background-color: rgba(123, 255, 152, 0.864);
}

.minor-section#four {
  background-color: rgba(255, 255, 255, 0.897);
}

button {
  max-width: 7%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(top, rgb(101, 216, 133), rgb(143, 255, 223),rgb(60, 141, 255));
  flex: auto;
  margin: auto;
}

.original {
  background-image: -webkit-linear-gradient(top, rgb(101, 216, 133), rgb(143, 255, 223),rgb(60, 141, 255));
}

.changed {
  background-image: -webkit-linear-gradient(top, rgb(216, 101, 101), rgb(255, 220, 143),rgb(255, 60, 222));
}