/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
  aspect-ratio: 6/1;
  object-fit: contain;
  background-color: rgb(221, 196, 255);
  text-align: center;

}

input {
  width: 40%;
  max-width: 30%;
  color: rgb(160, 160, 160);
}

.grey {
  color: grey;
}

.black {
  color: black;
}